// VARS
:root {
  --primary-color: #343e18;
  --secondary-color: #54671e;
  --third-color: #1f250e;
}

body.spring-theme {
  --primary-color: #343e18;
  --secondary-color: #54671e;
  --third-color: #1f250e;
}

body.winter-theme {
  --primary-color: #3982A3;
  --secondary-color: #3982A3;
  --third-color: #0F2934;

  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  input[type="date"],
  input[type="password"],
  input[type="search"],
  input[type="url"],
  textarea {
    background-color: #0D222C;
  }

  

  .footer {
    .btn--white{
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      color: #fff;
    }

    &__links,
    &__title{
      color: #A3A3A3;
    }
  }
  
}

body.autumn-theme {
  --primary-color: #F27D21;
  --secondary-color: #F27D21;
  --third-color: #212121;

  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  input[type="date"],
  input[type="password"],
  input[type="search"],
  input[type="url"],
  textarea {
    background-color: #2F2F2F;
  }
}



$text: #161614;
$main: #009597;
$grey: #6E7C87;

// EXTENDS
%hover {
  transition: all 0.1s ease-in;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}

%color {
  transition: all 0.02s;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      color: $main;
    }
  }
}

%close {
  img {
    transition: all 0.05s linear;
  }

  @media (any-hover: hover) {
    &:hover {
      img {
        transform: rotate(-90deg);
      }
    }
  }

}

@mixin border($border) {

  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  input[type="date"],
  input[type="password"],
  input[type="search"],
  input[type="url"],
  select,
  .btn,
  textarea {
    border-radius: $border;
  }
}

@mixin height($height) {

  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  input[type="date"],
  input[type="password"],
  input[type="search"],
  input[type="url"],
  select,
  .btn {
    height: $height;
  }
}

@mixin padding($paddingY, $paddingX) {

  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  input[type="date"],
  input[type="password"],
  input[type="search"],
  select,
  input[type="url"] {
    padding: $paddingY $paddingX;
  }
}

@mixin clamp($line) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(11%) saturate(7465%) hue-rotate(210deg) brightness(124%) contrast(117%);
}

%color {
  transition: color 0.1s;

  @media (any-hover: hover) {
    &:hover {
      color: $main;
    }
  }
}

%line {
  position: relative;
  padding-bottom: 2px;
  color: #fff;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    border-bottom: 1px solid #fff;
    height: 2px;
    bottom: 0;
    right: 0;
    width: 100%;
    transition: all 0.1s linear;
  }

  @media (any-hover: hover) {
    &:hover::before {
      width: 0;
    }
  }
}

%lineReverse {
  position: relative;
  padding-bottom: 2px;
  color: $text;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    border-bottom: 1px solid $text;
    bottom: 0;
    right: 0;
    transition: all 0.2s linear;
    width: 0;
  }

  @media (any-hover: hover) {
    &:hover::before {
      width: 100%;
    }
  }
}

%selectHide {
  &::selection {
    background-color: transparent;
  }

  *::selection {
    background-color: transparent;
  }
}


input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  height: 22px;
  width: 22px;
  border-radius: 4px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  flex-shrink: 0;

  &::after {
    content: '';
    height: 100%;
    border-radius: inherit;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    position: absolute;
    background-color: $main;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $grey;
    transition: all 0.1s ease-in;
  }

  &:checked {
    &::after {
      background-color: $main;
      background-image: url('../images/check-icon.svg');
    }
  }
}

input[type="radio"] {
  position: relative;
  cursor: pointer;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  flex-shrink: 0;

  &::after {
    content: '';
    height: 100%;
    border-radius: inherit;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    position: absolute;
    background-color: $main;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $grey;
    transition: all 0.1s ease-in;
  }

  &:checked {
    &::after {
      background-color: $main;
      background-image: url('../images/radio-icon.svg');
    }
  }
}



// @media (any-hover: hover){
//   &:hover{
//   }
// }